@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100&family=VT323&display=swap');

body {
    border-left: solid 5px lightgray;
    min-height: 100vh;
    font-family: sans-serif;
    width: fit-content;
    font-family: 'Roboto', sans-serif;
}

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    color: tomato;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    margin:auto
}

h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin:auto;
    margin-bottom: 32px; 
}

img {
    width: 100%
}


.headerNav nav {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.headerNav a {
    color: darkgray;
}

aside {
    text-align: right;
    color: tomato;
    font-weight: bold
}

article {
    margin-bottom: 4rem;
    border-bottom: solid 1px lightgray;
    padding-bottom: 2rem
}

article h1 {
    margin-top: auto;
}

p::first-letter{
    font-family: 'Roboto', sans-serif; 
    font-size: 6rem; 
    float:left;
    color: darkgray;
    margin: 0.1em 0.1em 0.1em 0; 
    line-height: 0.65;
}

.footerNav {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

p {
    font-size: 24px;
}

.footerNav a {
    color: orangered
}